<!--Fig. 24.15: views/welcome/hello.rhtml -->
<!-- View that displays the server name. -->
<head>
   <title>hello</title>
</head>
<body style="background-color:lightyellow">
   <b>Hello from the view!</b> <br />
   The server you are coming from is 
   <em><%= @server_name %></em>
</body>
</html>
